{% extends 'app/base.html' %}
{% load static%}

        
{% block load_page %}
<style>
    .section-title {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 20px;
        font-weight:bold;
    }

</style>
<section class="py-5">
    <div class="container">
        <h1 class="text-center mb-4 text-dark">Giới thiệu về Huu Luan BookStore</h1>
        <p>HuuLuan BookStore là một nhà sách trực tuyến được thành lập với mục tiêu mang đến những cuốn sách hay và ý nghĩa nhất tới độc giả trên khắp mọi miền đất nước. Chúng tôi tự hào là nơi cung cấp tri thức và cảm hứng cho cộng đồng, với mong muốn không chỉ là một địa điểm mua sắm sách mà còn trở thành một người bạn đồng hành đáng tin cậy trên hành trình phát triển bản thân của mỗi người. Tại đây, chúng tôi tin rằng mỗi cuốn sách đều chứa đựng một kho báu kiến thức và cảm xúc, giúp kết nối tâm hồn và khai mở trí tuệ.</p>

        <p class="section-title ">Kho sách của chúng tôi được xây dựng dựa trên sự đa dạng và phong phú, với các thể loại đáp ứng mọi sở thích và nhu cầu của độc giả, bao gồm:</p>
        <ul>
            <li>Văn học - nơi hội tụ những câu chuyện truyền cảm hứng và giàu ý nghĩa.</li>
            <li>Sách thiếu nhi - những trang sách giúp trẻ nhỏ phát triển trí tuệ, cảm xúc và sáng tạo.</li>
            <li>Truyện tranh - nơi những hình ảnh sinh động và câu chuyện hấp dẫn khơi dậy trí tưởng tượng.</li>
            <li>Sách giáo trình - hỗ trợ học tập và nghiên cứu cho học sinh, sinh viên và giảng viên.</li>
            <li>Chuyên ngành CNTT - cung cấp kiến thức chuyên sâu về công nghệ thông tin và lập trình.</li>
            <li>Các danh mục khác...</li>
        </ul>

        <p class="section-title ">HuuLuan BookStore cam kết mang đến cho khách hàng những dịch vụ tốt nhất:
        </p>
        <ul>
            <li>Chất lượng sách đảm bảo, với nguồn gốc rõ ràng và được tuyển chọn kỹ lưỡng.</li>
            <li>Giao hàng nhanh chóng, đúng hẹn và tận nơi.</li>
            <li>Chính sách đổi trả dễ dàng trong vòng 7 ngày nếu sản phẩm gặp lỗi in ấn hoặc không đúng yêu cầu.</li>
            <li>Đội ngũ hỗ trợ khách hàng nhiệt tình, sẵn sàng giải đáp mọi thắc mắc và hỗ trợ trong suốt quá trình mua sắm.</li>
        </ul>

        <p>Hãy đến với HuuLuan BookStore và cùng chúng tôi xây dựng một cộng đồng yêu sách, nơi tri thức và đam mê được nuôi dưỡng mỗi ngày. Chúng tôi tin rằng với sự đồng hành của các bạn, hành trình lan tỏa văn hóa đọc sẽ ngày càng rộng mở và ý nghĩa hơn.</p>
    </div>
</section>

{% endblock load_page %}